* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
.colur{
  --blk-color:black;
  --wht-color:#ffffff;
  --about-color:#ababab;
}
body{
  background: black;
  color: #fff;
}
#header{
  width: 100%;
  height:100vh;
}
.container{
  padding: 10px 10px;
  width: 100%;
}
.logo{
  padding-right:1rem;
  width:250px;
  height:60px;
  padding-right:5px;
}
nav{
  display: flex;
  /* position: fixed; */
  top:0;
  left:0;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
}
nav ul li{
  display: inline-block;
  list-style: none;

  margin:10px 20px;

}
nav ul li a{
  color: #F9F5EB;
  /* float: left; */
  /* padding-top: 10px; */
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content:'' ;
  width: 0;
  height: 3px;
  background:#ff004f ;
  position: absolute;
  left:0;
  bottom: -6px;
  transition: 0.3s;
}
nav ul li a:hover::after{
  width: 100%;
}
.topmost-container{
  width: 100%;
}
.top-container{
  height: 100vh;
  /* padding-left: 100px; */
  display:block;
  place-items: right;
  background-image:url(images/background123.jpg);
  background-size: cover; 
  text-align: center;
  padding-top: 3rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.top-container p{
  font-size: 1rem;
  padding-left: 2rem;
}
.top-container h1{
  padding-left:2rem;
  padding-top: 1.5rem;
  font-size: 3rem ; 
}
.top-container h1 span{
  /* font-size:2rem; */
  color: #ff004f;
}

/* --------------------About section---------------- */
#about{
  padding: 20px;
  color:#ababab;
    /* width: 100%; */
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
}
.column-1{
  flex-basis: 35%;
}
.column-1 img{
  width: 80%;
  padding-top: 10px;
  border-radius:20px;
}
.column-2{
  flex-basis: 64%;
}
.column-2 span{
  color: #E96479;
  font-size: 1.5rem;
}
.about-h1{
  font-size: 45px;
  font-weight:600;
  color:#EEEEEE;
  margin-bottom: 10px;
}
.column-2 p{
  /* padding: 20px; */
  font-size: 1rem;
  /* color: #F6F1F1; */

}
.about-li{
  display:flex;
  margin:5px 0;
  font-size: 1.5rem;
}
.about-li p{
  font-size: 1.3rem;
}
.tab-links{
  margin-right: 50px;
  font-size:18px;
  cursor: pointer;
  position:relative;
  border:none;
  background-color: inherit;
  color: #F9F5EB;
}
.tab-links::after{
  content:'';
  width: 0;
  height:3px;
  background: #ff004f;
  position: absolute;
  left:0;
  bottom: -8px;
  transition: 0.5s;
  border-bottom: #ff004f;
}
.tab-links.active-link::after{
  width: 100%;
}
.about-content ul{
  padding-left: 0;
}
.about-content ul li{
  list-style:none;
  margin:5px 0;
  /* padding-top:50px ; */
  font-size: 16px;
}
.about-content ul li span{
  color: #b54769;
  font-size: 15px;
}
.about-content a{
  text-decoration: none;
  color: #ababab;
  cursor:pointer;
  color: #b54769;

}
.about-content{
  display: none;
}
.about-content.active-tab{
  display: block;
}
/* <!---------certification  -------------------> */
#certificates{
  width: 100%; 
  min-height: 50vh;
  
}

#certifications {
  color: #F9F5EB;
  /* text-align: center; */
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  font-family: 'Poppins',sans-serif;
  font-size: 50px;
}
#carouselExampleControls{
  text-align: center;
  width: 50%;
}
.carousel-inner img{
  border-radius: 10px;
}
/* -------------project----------------- */
/* *,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
} */
#projects{
  padding:50px 0;
  /* width: 100%; */
  margin-left: 30px;
padding-right: 50px;
}
.project-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 5px;
}
.pro{
  border-radius: 10px ;
  position:relative;
  overflow:hidden;
}
.pro img{
  width: 100%;
  border-radius: 10px;
  display:block;
  transition: transform 0.5s;
  background-attachment:scroll;
}
#p{
  text-align: center;
  margin-bottom: 50px;
}

.description{
  width: 100%;
  height:0;
  background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow:hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  /* padding: 10px 20px; */
  text-align: center;
  transition: height 0.5s;
}
.description a{
  text-decoration: none;
  color: #D6E4E5;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 50px;
} 
.pro:hover img{
  transform:scale(1.1)
}
.pro:hover .description{
  height: 100%;
}




/* -------------------contact------------------- */

.contact-icon{
  flex-basis:35% ;
}
.contact-form{
  flex-basis:60%;
}
.contact-icon p{
  margin-top: 30px;

}
.contact-icon p i{
  color: #b54769;
  margin-right:15px;
  display: inline-block;
  /* font-size:20px; */
}
.social-icon a {
 text-decoration: none;
 font-size:50px;
 margin-right: 15px;
 color:#EEEEEE;
 display: inline-block;
 transition: transform 0.5s;
}
.social-icon a:hover{
  color:#ff004f;
  transform:translateY(-5px);
}
.contact-form form{
  width: 100%;
}
form input,form textarea{
  width: 100%;
  border:0;
  outline: none;
  background: #D6E4E5;
  padding:15px;
  margin:15px 0;
  color: #000;
  font-size:18px;
  border-radius: 6px;
}
.btn.btn2{
  padding-top: 10px;
  background-color:#ff004f;
  color: #F9F5EB;
}
.btn.btn2:hover{
  background-color: #57C5B6;

  color: #000;
}
.copyrights{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background:#262626;
  font-weight: 300;
  margin-top: 30px;
 
}
#msg{
  color: #EEEEEE;
  font-size: 23px;
  margin-top: 20px;
  display:block;
}

/* -------------------------responsive------------------------- */
nav .fas {
  display: none;
}
@media screen and  (min-width: 320px) and (max-width: 385px) {
  body {
    width: 100%;
}
  .top-container{
    background-image:url(images/background_mob1.jpg);
  }
  .top-container p{
    font-size: 1rem;
    padding-left: 1.5rem;
  }
  .top-container h1{
    padding-left:1.5rem;
    padding-top: 2rem;
    font-size: 2rem ; 
  }
  nav .fas {
    display: block;
    font-size:25px ;
    margin-right: 20px;
  }
  nav ul{
    background: #111;
    position: fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition:right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor:pointer
  }
  .column-2 span {
    color: #E96479;
    font-size: 17px;
    font-weight: 400;
}
.column-1, .column-2{
  flex-basis: 100%;
  padding-left: 10px;
}
.about-li p{
  font-size: 18px;
  margin-right: 30px;
}
#carouselExampleControls {
  width: 90%;
}
.contact-form, .contact-icon{
  flex-basis: 100%;
  padding-left: 30px;
}
.copyrights {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #262626;
  font-weight: 300;
  font-size: 12px;

  margin-top: 30px;
}
}

@media screen and (min-width: 386px) and (max-width:550px) {
  .top-container{
  background-image:url(images/background_mobile.jpg);

  }
  .top-container p{
    font-size: 1rem;
    padding-left: 2rem;
  }
  .top-container h1{
    padding-left:2rem;
    padding-top: 1.5rem;
    font-size: 2.5rem ; 
  }
  nav .fas {
    display: block;
    font-size:25px ;
    margin-right: 20px;
  }
  nav ul{
    background: #111;
    position: fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition:right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor:pointer
  }
  #about{
    width: 100%;
  }
  .column-1, .column-2{
    flex-basis: 100%;
    padding-left: 10px;
  }
  .about-h1{
    font-size:3rem;
  }
  .column-1 img{
    width: 100%;
    /* min-height: 50vh; */
    left:70%;
    border-radius: 10%;
    margin-bottom: 10px;
  }
.column-2{
  padding-top:10px ;

}
.column-2 p{
  font-size:18px;
  
}
.about-li p{
  font-size: 22px;
  margin-right: 38px;
}
.about-content ul li{
  font-size: 18px;
}
#carouselExampleControls {
  width: 90%;
}
  #projects{
    display: grid;
    padding-left: 20px;
    /* padding-right: 30px; */
    align-items: center;
    place-items: center;
    justify-content: space-between;
    grid-gap:20px;
  }
  .ui-card img{
    width: 100%;
  }
  .contact-form, .contact-icon{
    flex-basis: 100%;
    padding-left: 50px;
  }
  .contact-form{
    padding-right: 10px;
  }
  #con-t{
    font-size:2.5rem;
  }
 
}
@media screen and  (min-width: 551px) and (max-width: 765px) {
  nav .fas {
    display: block;
    font-size:25px ;
    margin-right: 20px;
  }
  nav ul{
    background: #111;
    position: fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition:right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor:pointer
  }
  .top-container{
    background-image:url(images/background_tab.jpg);
}
.row {
  display: grid;
  justify-content: space-between;
  margin-top: 70px;
}
#carouselExampleControls {
  width: 90%;
}

}

@media only screen and (min-width: 760px) and (max-width: 996px) {
  nav .fas {
    display: block;
    font-size:25px ;
    margin-right: 20px;
  }
  nav ul{
    background: #111;
    position: fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition:right 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor:pointer
  }
  .column-1 img{
    width: 100%;
    flex-basis: 40%;

  }
  #carouselExampleControls {
    width: 90%;

  }
  .pro{
    margin-left: 30px;
  }
  #p3{
    align-items: center;
    justify-content: center;
    left: 50%;
   
  }
  #con-t{
    font-size:2rem;
  }
}



